@import "tailwindcss";
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins);
  background: #0a0a0a;
  overflow-x: hidden;
}
/* Custom cursor / selection */
::selection {
  background: #f97316; /* orange */
  color: #fff;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
}